<section class="body" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; overflow-x: hidden; flex-direction: column; gap: 11px; padding: 6px 44px;">
  <h1 style="margin: 0 0 0.75rem; font-size: 2rem; font-weight: bold; ">Bem-vindo</h1>
  <p>Esta é a página inicial.</p>

  <nav style="margin-top: 1rem; display: flex; gap: 0.75rem;">
    <a class=btn routerLink="/autores" style="color: #0e3b84;">Ver autores</a>
    <a class=btn routerLink="/editoras" style="color: #0e3b84;">Ver Editoras</a>
    <a class=btn routerLink="/livros" style="color: #0e3b84;">Ver Livros</a>
  </nav>

  <style>
    .btn:hover {
      text-decoration: underline;

    }
  </style>
</section>
